[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Shreyas_Test
[access "refs/*"]
	owner = group user/shreyasnarayan1
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shreyasnarayan1
	label-Verified = -1..+1 group user/shreyasnarayan1
	push = +force group user/shreyasnarayan1
	read = group user/shreyasnarayan1
	rebase = group user/shreyasnarayan1
	removeReviewer = group user/shreyasnarayan1
	submit = group user/shreyasnarayan1
	exclusiveGroupPermissions = label-Code-Review label-Verified push read rebase removeReviewer submit
[access "refs/heads/*"]
	create = group user/shreyasnarayan1
	push = +force group user/shreyasnarayan1
	pushMerge = group user/shreyasnarayan1
	read = group user/shreyasnarayan1
	exclusiveGroupPermissions = create push pushMerge read
[access "refs/tags/*"]
	push = +force group user/shreyasnarayan1
	exclusiveGroupPermissions = push
